html {
    height: 100%;
}

#spritesheet {
    display: flex;
    flex-wrap: wrap;
    width: 224px;
    height: 240px;
    background-color: black;
    /* border: solid black 6px; */
}

.pacman {
    position: absolute;
    height: 15px;
    width:  15px;
    background-image: url(./images/img.png);
    background-position: 225px 0px;
    background-color: transparent;
    border-image: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
div{
    color: black;
}

#item {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 1s;
}