.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black 5px;

}
  
.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color:  #F88379;   
    border: 6px solid white;
    box-sizing: border-box;
    border-radius: 10px;
}

.wall {
    background-color: #000099;
}
.pac{
    height: 22px;
    width: 22px;
    position: relative;
    top: -102px;
    right: -10px;
}

.power-pellet {
    background-color: #F88379;
    border-radius: 10px;
}

.en{
    height: 20px;
    width: 20px;
    z-index: 2;
    position: relative;
    top: -300px;
    right: -230px;
}

 
 
 
 
 
 /* .main {
    max-width: 375px;  
     overflow: hidden; 
     max-width: initial;
    text-indent: -140%;
}
.path{
    background: #eee url(./img.png) left center;
    width: 220px;
    height:250px;
    border: 1px solid red;
    text-indent: -9999px;
    z-index: 0;
}  */


.main{
    /* display: inline; */
    width: 225px;
    height: 250px;
    overflow: hidden;
    z-index: 1;
}

.main .img{
    margin: 0px;
    /* margin-left: -229px;
    margin-bottom: -229px;
    margin-right: -229px; */
}

.mains{
    width: 225px;
    height: 250px;
    overflow: hidden;
    z-index: 0;
}
.mains .sec{
    margin-left: -229px;
    margin-bottom: -229px;
    margin-right: -229px;
}
.mainb{
    width: 230px;
    height: 250px;
    overflow: hidden;
    z-index: 0;
}
.mainb .third{
    margin-left: -455px;
    margin-bottom: -230px;
    margin-right: 100px;
}